html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

body {}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0px 15px;
    max-width: 1200px;
    width: 100%;
}

.container-fluid {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1830px;
}